* {
    background-attachment: scroll !important;
    font-family: monospace, monospace;
    hyphens: auto;
    color: white;
    font-size: 14px;
    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
}

.preview {
    height: 5%;
    width: 5%;
    margin: 10px;
}

.preview img {
    max-width: 64px;
    cursor: pointer;
}

.previews {
    display: flex;
    height: 5%;
    width: 100%;
    top: 0;
    overflow: hidden;
}

.weight {
    width: 33%;
    margin: 10px;
}

.weights {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.interaction {
    width: 75%;
    height: auto;
    margin: 32px;
}

.art {
    width: 25%;
    height: auto;
    margin: 10px;
    cursor: zoom-in;
}

.canvas {
    display: flex;
    height: 95%;
    width: 100%;
    top: 10%;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin: 32px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.rotate_0 {
    transform: rotate(0);
    transform-origin: center center;
}

.rotate_1 {
    transform: rotate(0.25turn);
    transform-origin: center center;
}

.rotate_2 {
    transform: rotate(0.5turn);
    transform-origin: center center;
}

.rotate_3 {
    transform: rotate(0.75turn);
    transform-origin: center center;
}

.active {
    color: red !important;
}
