* {
    background-attachment: scroll !important;
    font-family: monospace, monospace;
    hyphens: auto;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: black;
}

img {
    width: 100%;
    height: auto;
}

.preview {
    height: auto;
    width: 4.508%;
    margin: 16px 16px 16px 0;
}

.preview img {
    cursor: pointer;
}

.previews {
    margin: 0 0 0 32px;
    display: flex;
    height: 5%;
    width: 100%;
    top: 0;
    overflow: hidden;
}

.weight {
    width: 33%;
    margin: 10px;
}

.weights {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.interaction {
    width: 76.393%;
    height: auto;
    margin: 32px;
}

.art {
    width: 23.607%;
    height: auto;
    margin: 10px;
    cursor: zoom-in;
}

.canvas {
    display: flex;
    height: 95%;
    width: 100%;
    top: 10%;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    margin: 16px 0 16px 32px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: left;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.tab {
    font-size: 24px;
    width: auto;
    height: auto;
    margin: 16px 16px 16px 32px !important;
}

.langs {
    flex-wrap: wrap;
    justify-content: left !important;
}

hr {
    margin: 0;
}

.lang {
    width: auto;
    height: auto;
    margin: 32px 32px 16px 0 !important;
    font-size: 20px !important;
}

.textblock {
    margin: 0 32px 0 32px;
    width: 38.197%;
}

.text {
    font-family: serif, serif;
    hyphens: auto;
    font-size: 16px;
    margin: 0;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.rotate_0 {
    transform: rotate(0);
    transform-origin: center center;
}

.rotate_1 {
    transform: rotate(0.25turn);
    transform-origin: center center;
}

.rotate_2 {
    transform: rotate(0.5turn);
    transform-origin: center center;
}

.rotate_3 {
    transform: rotate(0.75turn);
    transform-origin: center center;
}

.active {
    color: red !important;
}

.hidden {
    display: none;
}

.enabled {
    cursor: default;
}

.disabled {
    color: gray !important;
}

.textblock .video {
    margin: 16px 0 16px 0;
    text-align: left;
}

.textblock .video video {
    width: 61.803%;
}

.video a {
    cursor: zoom-in;
}

.gallery {
    display: inline-flex;
    margin:  16px;
}

.gallery a {
    margin:  16px 16px 16px 16px;
    cursor: zoom-in;
}
